In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("./../pandas_/dataset/airline.csv")

In [18]:
df.sample(3)

    YEAR       Y      W       R      L      K
2   1950   1.569  0.278  0.3157  1.388  0.573
17  1965   9.120  0.564  0.5879  3.623  2.257
30  1978  22.726  1.703  0.5877  6.108  7.104

In [25]:
df.style.bar(color='green', subset="Y")

In [10]:
import numpy as np

def highlight_max(x, color):
    return np.where(x == np.nanmax(x.to_numpy()), f"color: {color};", None)

df = pd.DataFrame(np.random.randn(5, 2), columns=["A", "B"])
df.style.apply(highlight_max, color='red') 
# df.style.apply(highlight_max, color='blue', axis=1)

In [9]:
df.style.apply(highlight_max, color='blue', axis=1)

In [11]:
df.style.apply(highlight_max, color='green', axis=None)